<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <template v-if="logado">
            <p>Usuário logado : {{ nome }}.</p>
            <p>Perfil:Admin</p>
        </template>
        <p v-else-if="anonimo">Navegando como anônimo.</p>
        <p v-else>Nenhum usuário logado!</p>
        <button @click="logado = !logado">{{ logado ? 'Sair' : 'Entrar' }} </button><br>
        <input type="checkbox" name="" id="" v-model="anonimo">
        <label for="">Logar como anônimo</label>
       <hr>
        <footer v-show="logado">
           Desenvolvido para voçê.
        </footer>
        <footer v-show="!logado">
            Desenvolvido para voçê desconhecido.
        </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data:{
            nome: 'Maria',
            logado: false,
            anonimo: true
        }
    })
</script>
</html>
<!-- v-show aplica css para esconder da tela-->
